* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-image: url(./images/background.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 30rem;
  letter-spacing: 2px;
  color: #fff;
  position: fixed;
  z-index: -1000;
  opacity: 0.5;
  filter: drop-shadow(25px 25px 10px #7cc4ff);
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 17px;
  margin: 5px 0 30px;
}

a {
  background-color: green;
  padding: 7px 30px;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}
